body {
    line-height: 1.5;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
}
.font-Roboto{
    font-family: "Roboto", sans-serif;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
    @include pad() {
        max-width: 690px;
    }
    @include mobile() {
        max-width: 345px;
    }
}

.pt-64{
    padding-top: 64px;
}
.pb-80{
    padding-bottom: 80px;
}
.mb-7{
    margin-bottom: 7px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-16{
    margin-bottom: 16px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-24{
    margin-bottom: 24px;
}
.mb-32 {
    margin-bottom: 32px;
}
.mb-36 {
    margin-bottom: 36px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-60 {
    margin-bottom: 60px;
}

.fz-14 {
    font-size: 14px;
}
.fz-16 {
    font-size: 16px;
}
.fz-20 {
    font-size: 20px;
}
.fz-24 {
    font-size: 24px;
}
.fz-28 {
    font-size: 28px;
}
.fz-36 {
    font-size: 36px;
}
.fz-48 {
    font-size: 48px;
}
.fz-64{
    font-size: 64px;
}
.fz-72{
    font-size: 72px;
}

$primary: #650300;
$secondary: #fbf2f2;
.bg-primary {
    background: #aa0601;
}
.bg-light {
    background: #fbf2f2;
}
.text-primary {
    color: $primary;
}
.text-secondary {
    color: #AA0601;
}
.text-lightDark {
    color: #212529;
}
.text-light {
    color: #707070;
}

.subtitle{
    font-weight: 700;
    font-size: 64px;
    line-height: 90px;
    img{
        width: 57.9px;
        margin-left: 24px;
    }
    @include pad() {
        font-size: 48px;
        line-height: 67px;
        img{
            width: 48px;
            margin-left: 16px;
        }
    }
    @include mobile() {
        font-size: 28px;
        line-height: 40px;
        img{
            width: 24px;
            margin-left: 8px;
        }
    }
}
